<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Django Menu</title>
    <link rel="stylesheet" href="{% static 'CSS/menuestilo.css' %}">
</head>
<body>
    <h1>Menú Principal</h1>
    
    <img src='{% static "images/gif/tierra.gif" %}' width=200 height=100 />

    <ul>
        <li><a href="informacion">Información</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="servicios/precios">Precios</a></li>
    </ul>
</body>
</html>