<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiciosApp</title>
</head>
<body>
    <h1>Servicios</h1>
    <ul>
        {% for servicio in servicios %}
            <li>
                <br>
                <ul>
                    {% for clave, valor in servicio.items %}
                        <li><strong>{{ clave }}:</strong> {{ valor }}</li>
                    {% endfor %}
                </ul>
                <br>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Volver al menú</a>
</body>
</html>